# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Compiled Python files
*.pyc

# Compiled C++ files
*.out

# Application specific files
venv
node_modules
.sass-cache

# Temp File
*.swp
*.swa

#my data file
/input_mesh
/ISO
/models
/history
/temp
/adjm
/3D
/test
/STEP
/face_interaction
/interactions_example_step
/test_case
/2DCNN/models